body {

    background: Black;
    font-family: Comic-sans, Arial, Helvetica, sans-serif;
    color: White; 
    
}
nav{
    background: Red;
    color: black;
}
h1{
    color:red;
}
div .inline{
    display: inline-block;
}

img {
    width: 59%;
    max-width: 500px;
}

.featureBlock {
    background-color:pink;
    font-size: smaller;
    
}