body {

    /*background:papayaWhip*/
    background: OldLace;
    font-family: Comic-sans, Arial, Helvetica, sans-serif;
    color: Black; 
    
}

div.side-by-side {
    display: flex;
}

img {
    width: 59%;
    max-width: 500px;
}

.featureBlock {
    background-color:pink;
    font-size: smaller;
}